@model TesteDotNet.Core2._0.Models.CadastroViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
    <h2>Itens</h2>
</div>

<div class="col-md-6 margin-top-20">
    <div class="input-group h2">
        <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<div class="col-md-3 margin-top-20">
    <a href="Home/Cadastro" class="btn btn-primary pull-right h2">Novo Item</a>
</div>



<div id="list" class="row margin-top-100">
    <div class="table-responsive col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Data de Criação</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                @{  foreach (var item in Model.Itens)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Categories.Where(x => x.Id == item.CategoryID).FirstOrDefault().CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td class="actions">
                        @*<a class="btn btn-success btn-xs" href="Home/Detalhe">Visualizar</a>
                        <a class="btn btn-warning btn-xs" href="Home/Cadastro">Editar</a>
                        <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>*@
                       
                        @Html.ActionLink("Visualizar", "Detalhe", new { id = item.Id }, new { @class = "btn btn-success btn-xs" }) |
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                        @Html.ActionLink("Excluir", "Apagar", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>